.app {
	min-height: 100vh;
	min-width: 360px;
	display: flex;
	flex-direction: column;
	transition: all 0.5s ease;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: all 0.5s ease;
	gap: 0.25rem;
	padding-top: calc(48px + 0.5rem);

	&.navbar-hidden {
		padding: 0 !important;
	}
}

.video-list {
	flex: 1;
	display: grid;
	transition: all 0.5s ease;

	&.grid-size-1 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	&.grid-size-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.error {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: auto;
	padding: 1rem;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	color: var(--bs-dark);
	background-color: var(--bs-danger);
	border-radius: 0.5rem;
	cursor: pointer;
}

.error-absolute {
	@extend .error;
	width: unset;
	height: unset;
	padding: 0.25rem;
	border-width: 0.25rem;
	border-radius: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;
}

.sidebar {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	max-width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	max-height: -webkit-fit-content;
	max-height: -moz-fit-content;
	max-height: fit-content;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
	.main {
		flex-direction: row;
		padding: 0.5rem;
		padding-top: calc(48px + 0.5rem);
	}

	.sidebar {
		max-width: 300px;
		height: unset;
		min-height: 100%;
		max-height: 100%;
	}
}

@media only screen and (orientation: portrait) and (min-width: 1024px) {
	.main {
		flex-direction: row;
	}

	.sidebar {
		max-width: 300px;
		height: unset;
		min-height: 100%;
		max-height: 100%;
	}
}
